# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
src/assets/imgs/alvarez_jeanpierre.jpg
src/assets/imgs/arai_poeragui.jpg
src/assets/imgs/chansin_jerome.jpg
src/assets/imgs/cheungsen_jonas.jpg
src/assets/imgs/cuny_heimana.jpg
src/assets/imgs/ebb_nicolas.jpg
src/assets/imgs/lehartel_alexandre.jpg
src/assets/imgs/lenoir_tetuaoro.jpg
src/assets/imgs/longine_manaarii.jpg
src/assets/imgs/ly_joane.jpg
src/assets/imgs/maro_teremu.jpg
src/assets/imgs/monaco_vaitiare.jpg
src/assets/imgs/paeahi_ariipaea.jpg
src/assets/imgs/pambrun_aito.jpg
src/assets/imgs/pambrun_hiomai.jpg
src/assets/imgs/perez_rahiti.jpg
src/assets/imgs/perry_matihanu.jpg
src/assets/imgs/roussel_christian.jpg
src/assets/imgs/tehupe_tinirau.jpg
src/assets/imgs/tematahotoa_tinirau.jpg
src/assets/imgs/toofa_teparii.jpg
