<ion-header>
  <ion-navbar>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2><b>Oeuvres vues :</b> {{seenWorks}} / {{totalWorks}}</h2>
  
  
  <!-- <p>
    <ion-list>
      <ion-item *ngFor="let of ">
        <ion-card>
          <img src="../../assets/imgs/{{}}"/>
          <ion-card-content>
            <b>Nom :</b><br/>
            <b>Prénom :</b><br/>
            <b>Code :</b><br/>
            <p *ngIf="{{}} == 1">
              <ion-checkbox checked="true" disabled="true"></ion-checkbox>
            </p>
          </ion-card-content>
        </ion-card> 
      </ion-item>
    </ion-list>
  </p> -->


  <button (tap) = "testDB()">Click to test DB !</button>
  
</ion-content>
